<header class="header">
  <div class="content">
    <a href="/home">
      <img
        class="img-logo"
        src="../../../../assets/img/logo.png"
        title="logo"
      />
    </a>
    <input class="mobile-btn" type="checkbox" id="mobile-btn" />
    <label class="mobile-icon" for="mobile-btn"
      ><span class="hamburguer"></span
    ></label>

    <ul class="nav">
      <li><a href="/controle/equipamento" title="Pedidos">Equipamento</a></li>
      <li><a href="/controle/area" title="Clientes">Área</a></li>
      <li>
        <a href="/controle/supervisor" title="Funcionarios">Supervisor</a>
      </li>
      <li><a href="/controle/instituicao" title="Contato">IE</a></li>
      <li class="last-item"><a href="/login" title="Contato">Sair</a></li>
    </ul>
  </div>
</header>
