<header class="header">
  <div class="content">
    <a href="/#rn/home">
      <img
        class="img-logo"
        src="../../../../assets/img/logo.png"
        title="logo"
      />
    </a>
    <input class="mobile-btn" type="checkbox" id="mobile-btn" />
    <label class="mobile-icon" for="mobile-btn"
      ><span class="hamburguer"></span
    ></label>

    <ul class="nav">
      <li><a href="/#/equipamento" title="Equipamento">Equipamento</a></li>
      <li><a href="/#/area" title="Área">Área</a></li>
      <li>
        <a href="/#/supervisor" title="Supervisor">Supervisor</a>
      </li>
      <li><a href="/#/instituicao" title="IE">IE</a></li>
      <li class="last-item"><button (click)="logout()">Sair</button></li>
    </ul>
  </div>
</header>
