.container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-table-style {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px black solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
.cadastrar-btn {
  align-self: flex-end;
  font-size: 15px;
  border: 1px black solid;
  padding: 0.7rem 4rem;
  border-radius: 12px;
  background-color: rgb(33, 136, 56, 0.65);
  color: white;
  &:hover {
    background-color: rgb(33, 136, 56, 0.5);
    color: rgba(255, 255, 255, 0.6);
  }
}
.table-wrapper {
  overflow-y: scroll;
  height: fit-content;
  max-height: 66.4vh;
  margin-top: 3px;
  width: 80vw;
}
.option-td {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

table {
  table-layout: fixed;
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0px;
  z-index: 2;
  width: 100%;
}

table th {
  position: sticky;
  top: 0px;
  background-color: #001f3f;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
}

table th,
table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: left;
  font-size: 1.1rem;
  border: 1px solid #001f3f;
  color: #001f3f;
  background-color: rgba(255, 255, 255, 0.818);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: #d8d8d8;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}
