<div class="area-container">
  <div class="bg-table-style">
    <button class="cadastrar-btn" (click)="openCreateModal(criarInstituicao)">
      Cadastrar
    </button>

    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Opções</th>
          </thead>
          <tbody>
            <tr *ngFor="let instituicao of list; let i = index">
              <td>
                {{ instituicao.id }}
              </td>
              <td>
                {{ instituicao.nomeIe }}
              </td>
              <td class="option-td">
                <button type="button" class="btn btn-warning" (click)="editar(modal1, instituicao, i)">Editar</button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="openDeleteConfirmationModal(deletar, instituicao)"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #criarInstituicao let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nova instituicao</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-instituicao-modal></app-instituicao-modal>
  </div>
</ng-template>

<ng-template #deletar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Deseja excluir?</h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss('Não')">
      Não
    </button>
    <button class="btn btn-danger" (click)="deletarIE()">Sim</button>
  </div>
</ng-template>

<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">instituicao</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-instituicao-modal [instituicao]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarInstituicao($event)" ></app-instituicao-modal>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>