#accordion {
  width: 80%;
  margin: 24px;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.accordion-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.solicitacao-content {
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 10px;
}

.extra-top {
  margin-bottom: 10px;
  align-items: center;
}

.extra-top,
.extra-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.situacao-content,
.ativo-content {
  margin-right: 5%;
}

.situacao-content button {
  font-weight: bolder;
}

.geral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datas {
  text-align: center;
}

.geral div {
  padding-top: 2px;
}

.extra-top span,
.extra-bottom span,
.descricao-content span,
.geral span {
  font-weight: bold;
}

.descricao-content,
.ativo-content {
  display: flex;
  align-items: center;
}

.descricao-content p,
.ativo-content p {
  margin-left: 5px;
}

.ct {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.btn-create {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}

p {
  padding: 0;
  margin: 0;
}

.btn-group-vertical {
  gap: 10px;
}

.btn-group-vertical img {
  width: 20px;
  cursor: pointer;
}
.button {
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(160px);
  height: 100%;
  width: 39px;
  background-color: #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #0d6efd;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 200px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #0d6efd;
}

.button:active {
  border: 1px solid #0d6efd;
}
