<div class="actions">
  <button
    class="btn-create btn btn-primary"
    (click)="openCreateModal(criarSolicitacao)"
  >
    <span style="font-weight: bolder">+ </span>NOVO
  </button>
</div>

<div id="accordion" ngbAccordion>
  <div ngbAccordionItem *ngFor="let solicitacao of solicitacaoList; index as i">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        <div class="accordion-header">
          <div class="solicitacao-content">
            Solicitação #{{ solicitacao.id }}
          </div>

          <div class="extra-top">
            <div class="equipamento-content">
              <span>Equipamento:</span>
              {{ solicitacao.equipamento.nomeEquipamento }}
            </div>
            <div class="situacao-content">
              <span>Situação: </span>
              <button
                type="button"
                class="btn btn-dark"
                [ngStyle]="{
                  color: getCorComBaseNaSituacao(solicitacao.situacao)
                }"
              >
                {{ solicitacao.situacao }}
              </button>
            </div>
          </div>
          <div class="extra-bottom">
            <div class="descricao-content">
              <span>Descrição:</span>
              <p>
                {{
                  solicitacao.descricao
                    ? solicitacao.descricao
                    : "Sem descrição"
                }}
              </p>
            </div>
            <div class="ativo-content">
              <span>Status:</span>
              <p>
                <button
                  type="button"
                  class="btn"
                  [ngClass]="solicitacao.ativo ? 'btn-success' : 'btn-danger'"
                >
                  {{ solicitacao.ativo ? "Ativo" : "Inativo" }}
                </button>
              </p>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="container-content">
            <div class="geral">
              <div class="unidade">
                <div class="distrito-content">
                  <span>Distrito:</span>
                  {{ solicitacao.equipamento.distrito }}
                </div>
                <div class="area-content">
                  <span>Área:</span> {{ solicitacao.area.nomeArea }}
                </div>
                <div class="supervisor-content">
                  <span>Supervisor:</span>
                  {{ solicitacao.supervisor.nomeSupervisor }}
                </div>
              </div>
              <div class="solicitante">
                <div class="ie-content">
                  <span>IE:</span>
                  {{ solicitacao.instituicaoDeEnsino.nomeIe }}
                </div>
                <div class="estagiarios-content">
                  <span>Estagiários:</span> {{ solicitacao.qntdEstagiarios }}
                </div>
              </div>

              <div class="datas">
                <div class="data-content">
                  <span>Data Início-Fim:</span>
                  <br />
                  {{ solicitacao.dataInicio }} ~
                  {{ solicitacao.dataFim }}
                </div>
                <div class="expediente-content">
                  <span>Expediente Início-Fim:</span>
                  <br />
                  {{ solicitacao.inicioExpediente }} ~
                  {{ solicitacao.fimExpediente }}
                </div>
              </div>
              <div class="btn-group-vertical" role="group">
                <img
                  src="../../../assets/icons/pencil-square.svg"
                  alt="Editar"
                  ngbTooltip="Editar"
                />
                <img
                  src="../../../assets/icons/trash3-fill.svg"
                  alt="Excluir"
                  ngbTooltip="Excluir"
                  (click)="openDeleteConfirmationModal(deletar, solicitacao)"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #criarSolicitacao let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Novo equipamento</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-home-modal></app-home-modal>
  </div>
</ng-template>

<ng-template #deletar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Deseja excluir?</h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss('Não')">
      Não
    </button>
    <button class="btn btn-danger" (click)="deletarEquipamento()">Sim</button>
  </div>
</ng-template>
