<div class="area-container">
  <div class="bg-table-style">
    <button class="cadastrar-btn" (click)="openCreateModal(criarArea)">
      Cadastrar
    </button>

    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Opções</th>
          </thead>
          <tbody>
            <tr *ngFor="let area of list; let i = index">
              <td>
                {{ area.id }}
              </td>
              <td>
                {{ area.nomeArea }}
              </td>
              <td class="option-td">
                <div *ngIf="modoLancamento">
                  <button type="button" class="btn btn-primary" (click)="lancamento(area)">Lançar</button>
                </div>
                <div *ngIf="!modoLancamento">
                <button type="button" class="btn btn-warning">Editar</button>
                </div>
                <div *ngIf="!modoLancamento">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="openDeleteConfirmationModal(deletar, area)"
                >
                  Excluir
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #criarArea let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Novo Cliente</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-area-modal></app-area-modal>
  </div>
</ng-template>

<ng-template #deletar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Deseja excluir?</h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss('Não')">
      Não
    </button>
    <button class="btn btn-danger" (click)="deletarArea()">Sim</button>
  </div>
</ng-template>
