<nav>
  <ul>
    <li>
      <a href="" class="logo">
        <img src="../../../../assets/img/logo.png" alt="Logo" />
        <span class="nav-item">StagEase</span>
      </a>
    </li>
    <li>
      <a href="/home">
        <img
          class="icons"
          src="../../../../assets/icons/house-fill.svg"
          alt="Início"
        />
        <span class="nav-item">Início</span>
      </a>
    </li>
    <li>
      <a href="/controle/area">
        <img
          class="icons"
          src="../../../../assets/icons/database-fill-gear.svg"
          alt="Controle"
        />
        <span class="nav-item">Controle</span>
      </a>
    </li>
    <li>
      <a href="/saiu" class="logout">
        <img
          class="icons"
          src="../../../../assets/icons/box-arrow-left.svg"
          alt="Sair"
        />
        <span class="nav-item">Sair</span>
      </a>
    </li>
  </ul>
</nav>
