<div>
  <div class="modal-title">
    <h2>Preencha os campos</h2>
  </div>
  <div class="modal-content">
    <div class="form-group">
      <div class="group-modal">
        <label class="label-form" for="select_equipamento" class="label">
          Selecione o Equipamento:
        </label>
        <select
          name="select_equipamento"
          class="label estilo"
          [(ngModel)]="solicitacao.equipamento"
        >
          <option
            *ngFor="let equipamento of equipamentos"
            [ngValue]="equipamento"
          >
            {{ equipamento.nomeEquipamento }}
          </option>
        </select>
      </div>
      <div class="group-modal">
        <label class="label-form" for="input_qntdEstagiarios" class="label">
          Quantidade de estagiários:
        </label>
        <input
          type="number"
          name="input_qntdEstagiarios"
          [(ngModel)]="solicitacao.qntdEstagiarios"
        />
      </div>
      <div class="group-modal">
        <label class="label-form" for="select_equipamento" class="label">
          Selecione a Instituição:
        </label>
        <select
          name="select_equipamento"
          class="label estilo"
          [(ngModel)]="solicitacao.instituicaoDeEnsino"
        >
          <option
            *ngFor="let instituicao of instituicoes"
            [ngValue]="instituicao"
          >
            {{ instituicao.nomeIe }}
          </option>
        </select>
      </div>
      <div class="group-modal">
        <label class="label-form" for="select_area" class="label">
          Selecione a Área:
        </label>
        <select
          name="select_area"
          class="label estilo"
          [(ngModel)]="solicitacao.area"
        >
          <option *ngFor="let area of areas" [ngValue]="area">
            {{ area.nomeArea }}
          </option>
        </select>
      </div>
      <div class="group-modal">
        <label class="label-form" for="select_supervisor" class="label">
          Selecione o Supervisor:
        </label>
        <select
          name="select_supervisor"
          class="label estilo"
          [(ngModel)]="solicitacao.supervisor"
        >
          <option
            *ngFor="let supervisor of supervisores"
            [ngValue]="supervisor"
          >
            {{ supervisor.nomeSupervisor }}
          </option>
        </select>
      </div>
      <div class="group-modal">
        <label class="label-form" for="select_area" class="label"
          >Qual a situação:</label
        >
        <select
          name="select_area"
          class="form-control"
          [(ngModel)]="solicitacao.situacao"
        >
          <option
            *ngFor="let situacao of getSituacaoEnum()"
            [ngValue]="situacao"
          >
            {{ situacao }}
          </option>
        </select>
      </div>
      <div class="group-modal">
        <label class="label-form" for="input_dataInicio" class="label">
          Data de Início:
        </label>
        <input
          type="date"
          name="input_dataInicio"
          [(ngModel)]="solicitacao.dataInicio"
        />
      </div>
      <div class="group-modal">
        <label class="label-form" for="input_dataFim" class="label">
          Data de Fim:
        </label>
        <input
          type="date"
          name="input_dataFim"
          [(ngModel)]="solicitacao.dataFim"
        />
      </div>
      <div class="group-modal">
        <label class="label-form" for="input_inicioExpediente" class="label">
          Hora de Início do Expediente:
        </label>
        <input
          type="time"
          name="input_inicioExpediente"
          [(ngModel)]="solicitacao.inicioExpediente"
        />
      </div>
      <div class="group-modal">
        <label class="label-form" for="input_fimExpediente" class="label">
          Hora de Fim do Expediente:
        </label>
        <input
          type="time"
          name="input_fimExpediente"
          [(ngModel)]="solicitacao.fimExpediente"
        />
      </div>
      <div class="group-modal">
        <label class="label-form" for="input_qntdEstagiarios" class="label">
          Descrição:
        </label>
        <input
          type="text"
          name="input_descricao"
          [(ngModel)]="solicitacao.descricao"
        />
      </div>
      <div class="modal-footer">
        <button id="modalBtn" class="btn btn-primary" (click)="save()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
