<div class="container">
  <div class="custom-select" [ngClass]="{ active: isActive }">
    <div class="select-input" (click)="toggleDropdown($event)">
      <input [(ngModel)]="selectedOptionText" readonly />
      <div class="arrow"></div>
    </div>
    <ul *ngIf="isActive" class="options">
      <li
        *ngFor="let option of options"
        (click)="selectOption(option)"
        [class.active]="selectedOption === option.route"
      >
        {{ option.label }}
      </li>
    </ul>
  </div>
</div>
