.container1 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30vw 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007db0;

  .container-right {
    width: 25vw;
    height: 60vh;
    border-radius: 2%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .content {
      // width: 60%;
      // flex-direction: column;
      // gap: 80px;
      // font-size: 20px;
      .title-content {
        font-family: "NexaSlab";

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 34px;
        .title {
          margin-top: 24px;
          color: #4f4a4b;
          text-transform: uppercase;
        }
        .subtitle {
          color: #0d6efd;
          text-transform: uppercase;
        }
        .logo-login {
          width: 6rem;
        }
      }
      .content-text {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 26px;
        .wave-group {
          position: relative;
        }

        .wave-group .input {
          font-size: 16px;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 200px;
          border: none;
          border-bottom: 1px solid #515151;
          background: transparent;
        }

        .wave-group .input:focus {
          outline: none;
        }

        .wave-group .label {
          color: #999;
          font-size: 18px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          display: flex;
        }

        .wave-group .label-char {
          transition: 0.2s ease all;
          transition-delay: calc(var(--index) * 0.05s);
        }

        .wave-group .input:focus ~ label .label-char,
        .wave-group .input:valid ~ label .label-char {
          transform: translateY(-20px);
          font-size: 14px;
          color: #5264ae;
        }

        .wave-group .bar {
          position: relative;
          display: block;
          width: 200px;
        }

        .wave-group .bar:before,
        .wave-group .bar:after {
          content: "";
          height: 2px;
          width: 0;
          bottom: 1px;
          position: absolute;
          background: #5264ae;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }

        .wave-group .bar:before {
          left: 50%;
        }

        .wave-group .bar:after {
          right: 50%;
        }

        .wave-group .input:focus ~ .bar:before,
        .wave-group .input:focus ~ .bar:after {
          width: 50%;
        }
        .login {
          background: #007db0;
          color: white;
          border: none;
          width: 110px;
          height: 44px;
          border-radius: 25px;
          cursor: pointer;
        }
        .login:hover {
          background: #0d6efd;
        }
      }
    }
  }
}
