<div class="container1">
  <div class="container-right">
    <div class="content">
      <div class="title-content">
        <img
          class="logo-login"
          src="../../../../assets/img/logo.png"
          alt="Logo"
        />
        <div class="content-text">
          <h1 class="title">STAG EASE</h1>
          <p class="subtitle">Entre agora</p>
        </div>
      </div>

      <div class="form">
        <div class="login-info">
          <p>Informe o seu Login</p>
          <input
            class="input"
            type="text"
            placeholder="Informa pra gente seu Login"
          />
        </div>

        <div class="login-info">
          <p>Informe a sua senha</p>
          <input
            class="input"
            id="password"
            placeholder="Informa pra gente a sua senha"
            type="password"
          />
          <button class="show-password"></button>

          <div class="login">
            <button class="learn-more" routerLink="/home">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Acessar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
