<div class="container1">
  <div class="container-right">
    <div class="content">
      <div class="title-content">
        <img
          class="logo-login"
          src="../../../../assets/img/logo.png"
          alt="Logo"
        />
        <div class="content-text">
          <h1 class="title">STAG EASE</h1>
        </div>
      </div>

      <div class="form">
        <div class="wave-group">
          <input class="input" type="text" required="" />
          <span class="bar"></span>
          <label class="label">
            <span style="--index: 0" class="label-char">U</span>
            <span style="--index: 1" class="label-char">s</span>
            <span style="--index: 2" class="label-char">u</span>
            <span style="--index: 3" class="label-char">a</span>
            <span style="--index: 3" class="label-char">r</span>
            <span style="--index: 3" class="label-char">i</span>
            <span style="--index: 3" class="label-char">o</span>
          </label>
        </div>

        <div class="wave-group">
          <input class="input" type="text" required="" />
          <span class="bar"></span>
          <label class="label">
            <span style="--index: 0" class="label-char">S</span>
            <span style="--index: 1" class="label-char">e</span>
            <span style="--index: 2" class="label-char">n</span>
            <span style="--index: 3" class="label-char">h</span>
            <span style="--index: 3" class="label-char">a</span>
          </label>
        </div>
        <div class="login-infos">
          <div class="input">
            <input type="checkbox" />
            <label>Lembrar Login</label>
          </div>
          <a href="">Esqueceu a Senha ?</a>
        </div>

        <div class="login">
          <button class="login" routerLink="/home">
            <span class="button-text">Acessar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
