<div class="area-container">
  <div class="bg-table-style">
    <button class="cadastrar-btn" (click)="openCreateModal(criarSupervisor)">
      Cadastrar
    </button>

    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Descricao</th>
            <th>Opções</th>
          </thead>
          <tbody>
            <tr *ngFor="let supervisor of list; let i = index">
              <td>
                {{ supervisor.id }}
              </td>
              <td>
                {{ supervisor.nomeSupervisor }}
              </td>
              <td>
                {{ supervisor.matricula }}
              </td>
              <td>
                {{ supervisor.descricao }}
              </td>
              <td class="option-td">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #criarSupervisor let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Novo Supervisor</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-supervisor-modal></app-supervisor-modal>
  </div>
  <div class="modal-footer"></div>
</ng-template>
